body {margin:0}
body,table,input,textarea,select {
font:12px dotum;
color:#333333;
}
img	{border:0}
form	{margin:0}

a	{text-decoration:none;color:#000000}
a:hover {text-decoration:none;color:#007FC8}

.eng	{font:8pt tahoma}
.engs	{font:7pt tahoma}
.engb	{font:bold 8pt tahoma}
.stxt	{font:8pt 돋움; color:#4C4C4C; letter-spacing:-1; line-height:16px}
.b_cate	{font:bold 11pt 돋움; color:#464646; letter-spacing:-1}
.path	{font:8pt 돋움; color:#464646; text-align:right; padding-right:17; height:25} /** 현재경로 **/
.input_txt	{font:bold 8pt 돋움; color:#5D5D5D; letter-spacing:-1;padding-top:4px;}
#b_white a {font:bold 11pt 돋움; color:#FFFFFF; letter-spacing:-1}
.pagediv	{text-align:center;padding:15px} /** 페이징 DIV **/

.indiv {margin:0px 18px 0px 17px;} /** 본문 컨텐츠 DIV **/
* html .indiv {width:100%;} /** 본문 컨텐츠 DIV (IE 전용) **/

* html .hundred {width:100%;} /** 넓이 100% css (IE 전용) **/

.cellC {
	width:120px;
	background:#f7f7f7;
	text-align:right;
	padding-right:10px;
}
.cellL {padding-left:10px;}
.cell_R {text-align:right;padding-right:10px}

.btn	{border:1px solid #cccccc;background-color:#000000;color:#ffffff;font:bold 8pt tahoma;width:60px}
.btn_white	{border:0;background-color:#ffffff;font:bold 8pt tahoma}
.btnL	{border:1px solid #cccccc;background-color:#000000;color:#ffffff;font:bold 8pt tahoma}
.line	{border:1px solid #cccccc}
.lineBig	{border:1px solid #cccccc;width:300px;}
.lineBg	{border:1px solid #DFDFDF;background-color:#F7F7F7}
.hand	{cursor:pointer}

.blue	{color:#007FC8}
.red	{color:#FF6C68}

.float	{float:left}
.clear	{clear:both}
option.disabled {color:#808080}

.white	{color:#FFFFFF}
A.white	{text-decoration:none;color:#FFFFFF}
A.white:hover {text-decoration:none;color:#FFFFFF}

.position	{text-align:right;padding:5px 10px;border-bottom-width:1; border-bottom-style:solid; border-bottom-color:#dddddd;}

#form input,textarea {border-width:1; border-style:solid; border-color:#DFDFDF ; background:#F7F7F7}
#form .noline input {border:0; background:transparent}
.select {font-family:돋움;font-size:8pt;BACKGROUND-COLOR:#626262;color:ffffff;}
.null {border:0}

#bottom div {float:left;}

#menuLayer {margin:10px 0 13px 0;}
#menuLayer .catebar {padding:5px 0 2px 15px;}
#menuLayer .catebar a {background:url(./img/main/sid_icon.gif) left 2px no-repeat;padding-left:10px; color:#707072;}
#menuLayer .catebar a:hover {font-weight:bold;color:#191919}
#menuLayer .subLayer {
	position:absolute;
	display:none;
	width:150px;
	border:1px solid #CDCDCD;
	background:#ffffff;
	top:-5px;
	left:-35px;
	padding:8px 0;
}
#menuLayer .subLayer .cate {padding:3px 0 3px 14px}
#menuLayer .subLayer .cate a {background:url(./img/main/sid_icon2.gif) left 2px no-repeat;padding-left:9px; color:#707072;}
#menuLayer .subLayer .cate a:hover {font-weight:bold;color:#4DC8D8};

.cateUnfold {margin:10px 0 13px 0;}
.cateUnfold .catebar {padding:5px 0 2px 15px;}
.cateUnfold .catebar a {background:url(./img/main/sid_icon.gif) left 2px no-repeat;padding-left:10px; color:#707072;}
.cateUnfold .catebar a:hover {font-weight:bold;color:#191919}
.cateUnfold .catesub {background-color:#f7f7f7;}
.cateUnfold .catesub .cate {padding:3px 0 3px 25px}
.cateUnfold .catesub .cate a {background:url(./img/main/sid_icon2.gif) left 2px no-repeat;padding-left:9px; color:#707072;}
.cateUnfold .catesub .cate a:hover {font-weight:bold;color:#4DC8D8};

.small {
	font:8pt Dotum;
	letter-spacing:0px;
	padding-top:3px;
}

.small1 {
	font:8pt Dotum;
	letter-spacing:-1px;
	padding-top:3px;
}


.v8 {
	font:8pt verdana;
	letter-spacing:0px;
	padding-top:3px;
}


.v81 {
	font:8pt verdana;
	letter-spacing:-1px;
	padding-top:3px;
}


.v7 {
	font:7pt verdana;
	letter-spacing:0px;
	padding-top:3px;
}


.v71 {
	font:7pt verdana;
	letter-spacing:-1px;
	padding-top:3px;
}



/*** 웹에디터 보정 ***/
#contents p {
margin:2px 0;
}

/*** list 제품클론 이미지 ***/
.Move_listClone{
	cursor:move;
	border:2px dotted #E6E6E6;
}

/*** 스크롤바 장바구니존,위시리스트 존 ***/
.Cartz_imgline{
	border:1px solid #ffffff;
}

/*** 스크롤바 장바구니 클릭시 ***/
.Cartz_click{
	border:2px dotted #cccccc;
}
.Wishz_click{
	border:2px dotted #cccccc;
}

/*** 스크롤바 장바구니 이미지 드래그시 ***/
.Cartz_move_On{
	background-color : #efefef;
}
.Cartz_move_Off{
	background-color : #ffffff;
}

/*** 스크롤바 위시리스트 이미지 드래그시 ***/
.Wishz_move_On{
	background-color : #efefef;
}
.Wishz_move_Off{
	background-color : #ffffff;
}

/*** 스크롤바 삭제존 이미지 드래그시 ***/
.Delz_move_On{
	background-color : #efefef;
}
.Delz_move_Off{
	background-color : #ffffff;
}

/*** 좌측메뉴 ***/

/*.lnbmenu {background:url(./img/common/sid_icon03.jpg) left 2px no-repeat;padding-left:9px; color:#707072;}
table.lnbMyMenu {width:100%;border:solid 0 #39C1D7; border-width:0 2px 2px 2px;}
table.lnbMyMenu th {background:url(./img/common/sid_icon07.gif) 93% 50% no-repeat #FAFAFC; color:#455354; text-align:left; padding:14px 0 10px 18px; border-bottom:solid 1px #E8E8E8;}
table.lnbMyMenu th.unline {border-width:0;}
table.lnbMyMenu td {border-bottom:solid 1px #E8E8E8; padding:10px 20px; line-height:19px;}


/*오른쪽배너*/
.main_wrap{width:100%;height: 407px;margin:5px auto;text-align:center;}
.main_wrap .main_wrap_main{width:1100px;margin:0px auto;text-align:center;}
.main_right_banner{width:226px;float:right;}
.main_right_banner ul li{margin: 0 0 5px 0;}
.outline_side{
width:100%;
}
.outline_both{

}
.indiv{ width:1100px; margin:0 auto!important; }
.subtab{ margin:28px auto!important; }
.inindiv{ text-align:center; width:1100px; margin:0 auto; }
.list_4banner{ width:1100px; margin:65px auto 0px; }

.subtab li{ background:none!important; }
.subtab li a{ padding-bottom:10px!important; color:#9f9f9f!important; }
.subtab li.on a { border-bottom:2px solid black; color:#000!important; font-weight:bold; }
.secondrow{ margin-top:10px; }
.goodsbox li{ width:33.33333%!important; height: 570px; }
.goodsbox .goods .img{ width:340px!important; height:413px!important; }
.goodsbox .goods{ width:340px!important;}
.goodsbox .goods .img a{ width:340px!important; border:none!important; }
.goodsbox .goods .img img{ width:100%!important; }
.goodsbox .goods .price{ border-top:none!important; border-bottom:none!important; }
.goodsbox .goods .price .s_p{ display:none!important; }
.goodsbox .goods .price .b_p{ color: #b7c30b; font-size: 18px!important; }
.goods_sort{ border-top:none!important; border-bottom:1px solid #dddddd; }
.goodsbox{ overflow:none!important; }
.goodsbox .goods .price{ position:relative; }
.goodsbox .goods .icon{ position:absolute; }
.goodsbox .goods .icon{ display:block!important; width:100%; clear:none!important; text-align:center; top:30px; }
.gv_tit{ display:none!important; }
.goods_viewbox{ border-top:none!important; }
.goods_view .view_info .info_name .tit{ font-size:36px!important; line-height:36px!important; }
.goods_view .view_info .info_name .txt{ font-size:17px!important; line-height:20px!important; }
.sub_tit2 .tit{ color:#cfde00!important; }
.jogin_infotbl td{ padding-top:5px; padding-bottom:5px; }

#mmber1{ border:none; }
#mmber2{ border-bottom:none; }


#header .bot { margin-top:15px !important; }
.goodsNm a	{ color:#000; font-size:20px; font-weight:bold; }
.tpl01Best .shortdesc	{ color:#000 !important; font-size:14px !important; }

.goodsbox .goods .name a { color:#000 !important; font-size:16px !important; font-weight:bold !important; }
.goodsbox .goods .txt { color:#000 !important; font-size:14px  !important; } 

.owlArea .item	{ font-family:'Nanum Square'; }


/*Iframe*/
.video-container { margin: 0 auto; padding-bottom: 45%;  max-width: 80%;  height: 0; position: relative; overflow: hidden; text-align:center; } 
.video-container iframe, .video-container object, .video-container embed { margin: 0; padding: 0; width: 100%; height: 100%; position: absolute; top: 0; left: 0; }





/*추가*/

.board-type01 {clear:both;margin-top:5px;}
.board-type01 th {padding: 0px; margin: 0px; border-collapse: collapse;border-top:1px solid #444444;text-align:center;font-weight:bold;color:#373737;height:50px;vertical-align:middle;background:#cadb3d;border-bottom:1px solid #d9d9d9;}
.board-type01 td {text-align:center;color:#373737;height:44px;vertical-align:middle;border-bottom:1px solid #d9d9d9;}
.board-type01 td.subject {text-align:left;padding-left:28px;}
.board-type01 td.subject:hover{text-decoration: underline; font-weight: bold;}
.board-type01 td.subject2 {text-align:left;padding-left:28px;}

.pageing{clear:both;text-align:center;font-size:14px; padding-top: 40px;    margin-bottom: 20px;}
.pageing > a img{margin:11px 1px 0 1px;}
.pageing > a.prev{background:#ffffff;border: 1px solid #d2d6da;width:30px;text-align:center;  line-height:30px;}
.pageing > a.next{background:#ffffff;border: 1px solid #d2d6da;text-align:center;  line-height:30px;}
.pageing > a.prev:hover, .pageing > a.next:hover{background:none;}
.pageing >  a{display:inline; zoom:1; display:inline-block;width:30px;height:30px; line-height:30px;border:1px solid #dddddd;margin-right:1px;color:#333;}
.pageing >  a.current, .pageing > a:hover {background:#fff;color: #cadb3d; border: 1px solid #cadb3d;}

.board-type02 {clear:both;margin-top:18px;}
.board-type02 th {border-top:1px solid #444444;text-align:left;font-weight:bold;color:#373737;height:50px;vertical-align:middle;background:#cadb3d;border-bottom:1px solid #d9d9d9;}
.board-type02 th .tit {margin-left:20px;}
.board-type02 td {color:#373737;padding:10px 20px;vertical-align:middle;border-bottom:1px solid #d9d9d9;}
.board-type02 td.content {text-align:left;padding:35px 15px;vertical-align:top;border-bottom:1px solid #b2b2b2;line-height:150%;}
.board-type03 tr {border-top:1px solid #444;     text-align: left;}
.board-type03 tr.first {border-top:1px solid #444;     text-align: left;}
.board-type03 th {background:#cadb3d;border-bottom:1px solid #dbdbdb;font-size:14px;color:#4f4f4f;vertical-align:middle;padding:20px 0 20px 20px;width:120px;}
.board-type03 th.vertical-t {vertical-align:top;}
.board-type03 td {border-bottom:1px solid #dbdbdb;font-size:14px;color:#4f4f4f;vertical-align:middle;padding:10px 0 10px 20px}
.board-type03 td .input1 {border:1px solid #e6e6e6;padding:3px 0;width:90%;}
.board-type03 td .input2 {border:1px solid #e6e6e6;padding:3px 0;width:30%;}
.board-type03 td .input3 {border:1px solid #e6e6e6;padding:3px 0;width:706px;height:300px;}
.cont-box{ width: 100%; border-bottom:1px dashed #b2b2b2 !important;padding-bottom: 40px;}
 

.wBtn{width: 1100px; margin: 10px auto; }
.wBtn span{float: right; width: 120px; height: 40px; background: #cadb3d; text-align: center; color: #373737; display: block; font-size: 13px; padding-top: 10px; box-sizing: border-box; border-radius: 10px; }

/* clera */
.clear:after{content:".";height:0;font-size:0;display:block;clear:both;}
.clear{display:inline-block;}
* html .clear{height:0;}
.clear{display:block;}
.clear-both{clear:both;}
.over-point {cursor:pointer;}